﻿<input data-bind="value: addingItemText, valueUpdate: 'afterkeydown'" type="text" />
<button data-bind="enable: canAddItem, click: addNewItem">Add</button>

<ol data-bind="foreach: items">
    <li>
        <strong data-bind="visible: Completed">Completed </strong>
        <span data-bind="text: Text"></span>
        <button data-bind="click: $root.deleteSelectedItem">Delete</button>
        <button data-bind="click: $root.completeSelectedItem, visible: !Completed()">Complete</button>
        <button data-bind="click: $root.undoSelectedItem, visible: Completed()">Undo</button>
    </li>
</ol>

@section scripts {
    @Scripts.Render("~/bundles/app")
}